$ext-version: '6.0.2.437' !default;  // Updated automatically by the build script.
$ext-trial: false !default; // Updated automatically by the build script.
$ext-beta: false !default; // Updated automatically by the build script.
@import 'compass';
@import 'functions';
@import 'mixins';
